@charset "utf-8";
/* CSS Document */

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

button{
	width: 200px; height: 35px;
	background: linear-gradient(to top, #99ccff -72%, #ffffff 73%);
	color: #3b3b3b;
	font-size: 15px;
	border-radius: 25px;
	font-family :Arial;
	font-weight:550;
    float:center;
	border: 4px solid #ccddff;
	display:block;
	margin:auto;
	
}
input{
	width: 100%;
	height: 20px;
	border: 1px solid #b3d9ff;
	margin-top: 5px;
}
.error{
	color:red;
	
}

	