@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    /* background: #1f08f0f5; */
    /* background: -webkit-linear-gradient(to right,
            #0a94d4,
            #ffb75e); */
    background: linear-gradient(to right,
            #005e56,
            #d7d7da);
    padding: 0 10px;
}
.pr { position: relative;}
.pa { position: absolute;}
.info { left: 146px;bottom: -16px;font-size: 12px;color: red;}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: rgb(255, 255, 255);
    margin: 50px auto;
    padding: 30px;
    box-shadow: 5px 15px 15px 10px rgba(3, 176, 245, 0.188);
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .input-field {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.wrapper .form .input-field label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .input-field .textarea {
    resize: none;
    height: 125px;
}

.wrapper .form .input-field .custom-select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .input-field .custom-select select {
    border: 1px solid #d5dbd5;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input-field .input:focus,
.wrapper .form .input-field .textarea:focus,
.wrapper .form .input-field select:focus {
    border: 1px solid #fec107;
}

.wrapper .form .input-field p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form .input-field .check {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.wrapper .form .input-field .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .input-field .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #fec107;
    display: block;
    position: relative;
}

.wrapper .form .input-field .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .input-field .check input[type="checkbox"]:checked~.checkmark {
    background: #fec107;
}

.wrapper .form .input-field .check input[type="checkbox"]:before {
    display: block;
}

.wrapper .form .input-field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input-field .btn:last-child {
    margin-bottom: 0;
}

.wrapper .form .input-field .btn:hover {
    background: #ffd658;
}