*{
margin:0;
padding:0;
text-decoration: none;
list-style:none;
box-sizing: border-box;
}

.navbar{
    display:flex;
    justify-content:space-between;
    background-color:rgb(61, 61, 61);
    align-items:center;
    color:white;
}

.logo {
    font-size:1.5rem;
    margin:.5rem;
}

.logo a{
    text-decoration:none;
    color:white;


}

.navbar-links ul{
    margin:0;
    padding:0;
    display: flex
}

.navbar-links li {
    list-style:none;
}

.navbar-links li a{
    text-decoration:none;
    color:white;
    padding:1rem;
    display:block;
}

.navbar-links li:hover{
    background-color:gray;
}

.toggler {
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width: 25px;
    height: 16px;
}

.toggler .bar{
    height:3px;
    width:100%;
    background-color:white;
    border-radius:10px;
}

@media (max-width: 600px) {
    .toggler {
        display:flex;
    }

    .navbar-links{
        display:none;
        width:100%;
    }

    .navbar {
        flex-direction:column;
        align-items:flex-start;
    }

    .navbar-links ul {
        flex-direction:column;
        width:100%;
    }

    .navbar-links li{
        text-align:center;
    }

    .navbar-links.active {
        display:flex;
    }

}
