*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    display:flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background:gray;
}

.container {
    position:relative;
    width: 1200px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap:20px;
    padding:20px;
}

.container .card
{
    width: 100%;
    height: 450px;
    background: white;
}

.container .card .imBx {
    position:relative;
    width: 100%;
    height: 350px;
    overflow:hidden;
}

.container .card .imBx img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover; /* Making sure the images fit the container it is in, which is the imBx */
  transition: 0.5s ease-in-out; /*changes the duration, making it more animated*/
  transform-origin:right; /*changes the direction*/
}

.container .card:hover .imBx img
{
  transform:scale(1.25); /*zooms in when the user hovers on the img*/
}

.container .card .Content {
  padding:10px;
}

.container .card .Content .pName h2 {
  margin:5px 0;
}

.container .card .Content .priceNrating {
display: flex;
justify-content: space-between;
}

.container .card .Content .priceNrating .fa {
  color: #ffd513;
  cursor:pointer;
}

.conrainer .card .Content .priceNRating .fa.gray {
  color:#ccc;
}
