* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right,
  #005e56,
  #d7d7da);;
 
}

h1{
  height: 200px;
  margin: 50px auto;
  
}

.wrapper {
  display: grid;
  margin: 80px 90px auto;
  
}

@media (max-width: 700px) {
  .wrapper {
    margin: 200px auto;
    
  }
  
}


.wrapper .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  
}

.wrapper .box .front-face {
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
 
}

.box .front-face .icon {
  height: 350px;
}

.box .front-face .icon i {
  font-size: 65px;
  
}

.box .front-face span,
.box .back-face span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  
  
}

.box .front-face .icon i,
.box .front-face span {
 
  background: linear-gradient(-135deg, #282769, #4158d0);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 350px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #282769, #4158d0);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;

}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);

}